<html>
<head>
	<meta charset = "UTF-8" />
	<link rel="stylesheet" href= "stylesheets/registro.css" />
	<link rel="stylesheet" href="stylesheets/foundation/css/foundation.css" />
	<link rel="stylesheet" href="stylesheets/font-awesome-4.3.0/css/font-awesome.css" />
	<link rel="stylesheet" href="stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" />
	<script src="stylesheets/foundation/js/vendor/modernizr.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		var points;


	  	function initialize() {
		    var mapOptions = {
		      zoom: 15
		    };
		    var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

		    if(navigator.geolocation) {
		      navigator.geolocation.getCurrentPosition(function(position) {
		        var pos = new google.maps.LatLng(position.coords.latitude,
		                                         position.coords.longitude);


		        var markerClient = new google.maps.Marker({
		            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
		            position: pos,
		            map: map,
		            draggable: true,
		            animation: google.maps.Animation.DROP
		        });

				var markerRent = new google.maps.Marker({
				    icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
				    position: new google.maps.LatLng(19.433878043215408, -99.2056404253006),
				    map: map,
				    draggable: true,
				    animation: google.maps.Animation.DROP
				});

				var markerRent1 = new google.maps.Marker({
					icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
			        position: new google.maps.LatLng(19.430170975081705, -99.1980612026245),
			        map: map,
			        draggable: true,
			        animation: google.maps.Animation.DROP
				});


				var markerRent2 = new google.maps.Marker({
					icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
					position: new google.maps.LatLng(19.430346972082653, -99.2025397560974),
					map: map,
					draggable: true,
					animation: google.maps.Animation.DROP
				});
				var infowindow = new google.maps.InfoWindow;
		     	google.maps.event.addListener(markerClient, 'mouseover', function() {
			     	infowindow.setContent("<p>Esta es tu casa</p>");
			      	infowindow.open(map, markerClient);
				});
				var infowindow1 = new google.maps.InfoWindow;
				google.maps.event.addListener(markerRent1, 'click', function() {
					
					window.location.href="payment";

				});

			    map.setCenter(pos);},
			    function() {
				    handleNoGeolocation(true);
			    });
		    } 

		    else {
		    //Browser doesn't support Geolocation
		   	handleNoGeolocation(false);
		  	}
		}
		function toggleBounce() {
		   	infowindow.open(map, marker);
		}
		function handleNoGeolocation(errorFlag) {
			if (errorFlag) {
				var content = 'Error: The Geolocation service failed.';
			} 
			else {
		    	var content = 'Error: Your browser doesn\'t support geolocation.';
			}

		  	var options = {
				map: map,
				position: new google.maps.LatLng(60, 105),
				content: content
		 	};
		 	var infowindow = new google.maps.InfoWindow(options);
			map.setCenter(options.position);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
  	</script>
 	<title>Raedam-Busqueda de espacios</title>
</head>
<body>
<header>
    <nav class="top-bar" data-topbar role="navigation">
	  	<ul class="title-area">
	    	<li class="name">
	      		<h1><a href="#">Raedam</a></h1>
	    	</li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  	</ul>
	  	<section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      	<li class="active"><a href="#">Busqueda de espacios</a></li>
	      	<li class="has-dropdown">
	        	<a href="#">Menu</a>
	        	<ul class="dropdown">
	          		<li class="active"><a href="#">Busqueda de espacios</a></li>
	          		<li><a href="#">Registro de espacios</a></li>
	          		<li><a href="#">Log out</a></li>
	        	</ul>
	      	</li>
	    </ul>
	  	</section>
	</nav>
  
</header>

<div id ="container">
	<div id="BarraBusqueda">
		<h1>¿Dónde desea estacionarse?</h1>
		<p>Pon la colonia en la que deseas estacionarte, te vamos a dar los resultados mas cercanos a donde necesites estacionarte.</p>
 		<br>
  		<div class="large-12 columns">
    		<input type="text" placeholder="Colonia">
        	<br>
    	</div>
	</div>
	<input id="submit" type="submit" value="Submit">
</div>
<!--Aqui va el mapa-->
<div class="map">
  <div class= "large-12 columns">
    <h3>Elija el lugar en el que desea estacionarse</h3>
    <div class = "large-12 columns">
      <div id="googleMap"></div>
    </div>
  </div>
</div>
</body>
</html>
