<html>
<head>
	 <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href= "../WEB/css/css1.css"/>
    <link rel="stylesheet" href="../foundation/css/foundation.css"/>
    <link rel="stylesheet" href="../WEB/font-awesome-4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../WEB/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="../foundation/js/vendor/modernizr.js"></script>
	<title></title>
</head>
<body>
<div class="parallax-background">
  <header>
    
      <div id="signIn">
        <a href="sign_up.html" class="button">Sign Up</a>
        <a href="LogIn.html" class="button">Log In</a>
      </div>
    </header>
  <div class="intro-text">
     <section id="container">
      <div id="logo">
        <img src =images/raedam-logo_360.png>
        <h2>Olvidate de sufrir para estacionarte</h2>
      </div>
      <div class = "text">
        <p>Raedam es una plataforma en linea que conecta personas que necesitan estacionarse con el lugar  mas cercano para hacerlo.</p>
        <p>Conectamos a la gente que necesita de un lugar para estacionarse con la gente que tiene un lugar para dar.</p>
        <div id = "giveAskPlace">
        <button type="button">Registra tu espacio</button>
        <button type="button">Busca un espacio</button>
      </div>
      </div>
       </section>
  </div>

</div>

<div class="parallax-content">
  <center>
    <div id="how">
        <section class= "large columns"><h1>¿Cómo funciona?</h1></section>
        <br />
        <br />

        <section class = "large-4 columns supporticons">
          <figure class="icon">
            <i class="fa fa-search fa-5x"></i>
          </figure>
            <br />
            <h2>Busca un lugar</h2>
            <p>Registrate y busca un lugar en la zona que necesitas estacionarte.</p>
        </section>
        <section class = "large-4 columns supporticons">
          <figure class="icon">
            <i class="fa fa-calendar fa-5x"></i>            
          </figure>

          <br/>
          <h2>Apártalo</h2>
          <p>¡Que no te lo ganen! Aparta el lugar que escogiste para que lo puedas utilizar.</p>
        </section>
        <section class = "large-4 columns supporticons">
          <figure class="icon">
            <i class="fa fa-car fa-5x"></i>            
          </figure>

          <br/>
          <h2>¡Estacionate!</h2>
          <p>Ya apartado el lugar nada mas llega a la hora acordada y deja tu coche</p>
        </section>
    </div>
      <p>.</p>
  </center>

</div>         

</body>
</html>