<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PaymentReady</title>
		<link rel="stylesheet" href= "stylesheets/registro.css" />
	<link rel="stylesheet" href="stylesheets/foundation/css/foundation.css" />
	<link rel="stylesheet" href="stylesheets/font-awesome-4.3.0/css/font-awesome.css" />
	<link rel="stylesheet" href="stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" />
	<script src="stylesheets/foundation/js/vendor/modernizr.js"></script>
</head>
<body>
	<h1>Your payment is ready</h1>
	<a href="/profile">
		Vuelve a tu perfil
	</a>
</body>
</html>