<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href= "stylesheets/registro.css"/>
    <link rel="stylesheet" href="stylesheets/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="stylesheets/font-awesome-4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="stylesheets/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="stylesheets/foundation/js/vendor/modernizr.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Payment</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
</head>
<body>
<header>
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Raedam</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Registro de espacios</a></li>
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><a href="/search">Busqueda de espacios</a></li>
          <li class="active"><a href="#">Registro de espacios</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
  </header>
	<div id="container">
	<h1>Pagos</h1>
	<form action="" method="POST" id="card-form">
	  <span class="card-errors"></span>
	  <div class="form-row">
	    <label>
	      <span>Nombre del tarjetahabiente</span>
	      <input type="text" size="20" data-conekta="card[name]"/>
	    </label>
	  </div>
	  <div class="form-row">
	    <label>
	      <span>Número de tarjeta de crédito</span>
	      <input type="text" size="20" data-conekta="card[number]"/>
	    </label>
	  </div>
	  <div class="form-row">
	     <div class="large-6 columns">
	    <label>
	      <span>CVC</span>
	      <input type="text" size="6" data-conekta="card[cvc]"/>
	    </label>
	    <div>
	  </div>
	  <div class="form-row">
	    <label>
	    <div class="large-6 columns">
	      <span>Fecha de expiración (MM/AAAA)</span>
	      <input type="text" size="2" data-conekta="card[exp_month]"/>
	    </label>
	    <span>/</span>
	    <input type="text" size="6" data-conekta="card[exp_year]"/>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="large-6 columns">
	    <label>
	    	<span>Descripcion</span>
	    	<input type="text" name="description" />
	    </label>
	  </div>
	  </div>
	  <div class="form-row">
	  <div class="large-6 columns">
	    <label>
	    	<span>Monto</span>
	    	<input type="text" name="amount" />
	    </label>
	  </div>
	  </div>
	  <div class="form-row">
	  <div class="large-12 columns">
	    <label>
	    	<span>Moneda</span>
	    	<input type="text" name="currency" size="3"/>
	    </label>
	  </div>  
	  </div>
	  <div class="large-12 columns">
	  <button type="submit">Pagar ahora</button>
	  </div>
	</form>
	</div>
	<script type="text/javascript">
 
	 // Conekta Public Key
	  Conekta.setPublishableKey('key_ExT6okhg69VcMmznRRvHo7Q');
	 
	 // ...
	jQuery(function($) {
	  $("#card-form").submit(function(event) {
	    var $form;
	    $form = $(this);

	    
	/* Previene hacer submit más de una vez */

	    $form.find("button").prop("disabled", true);
	    Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);

	    
	/* Previene que la información de la forma sea enviada al servidor */

	    return false;
	  });
	});
	var conektaSuccessResponseHandler;
	conektaSuccessResponseHandler = function(token) {
	  var $form;
	  $form = $("#card-form");

	  
	/* Inserta el token_id en la forma para que se envíe al servidor */

	  $form.append($("<input type=\"hidden\" name=\"conektaTokenId\" />").val(token.id));

	  
	/* and submit */

	  $form.get(0).submit();
	};
	var conektaErrorResponseHandler;
	conektaErrorResponseHandler = function(response) {
	  var $form;
	  $form = $("#card-form");

	  
	/* Muestra los errores en la forma */

	  $form.find(".card-errors").text(response.message);
	  $form.find("button").prop("disabled", false);
	};
	</script>
</body>
</html>