<html>
<head>
  <title>Raedam</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" href= "stylesheets/registro.css"/>
  <link rel="stylesheet" href="css/foundation/css/foundation.css"/>
  <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css"/>
  <script src="../foundation/js/vendor/modernizr.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script>
  function initialize() {
    var mapProp = {
      center:new google.maps.LatLng(19.4357561,-99.1955405),
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>

</head>
<body>

    <div class="large-12 columns">
      <header>
    <div class="wrapper">
      <a href="#"><img src="images/raedam-logo_360.png" width="12%" height="12%"/></a>

      <span id="usernav">
      <a href="#">Logout</a>
      <a href="#">Mi Perfil<span><img src="images/raedam-logo_360.png" width="10%" height="10%" /></span></a></span>
    </div>
    </div>
  </header>

  <div id= "container">
    <div class ="large-9 columns">
      <h1>Registra tu lugar</h1>
      <br></br>
    </div>
    <div class="register">
      <form>
       <div class="large-10 columns">
        <input type="text" placeholder="Calle">
        <br>
      </div>
      <div class="large-2 columns">
        <input type="text" placeholder="Número">

      </div>
      <div class="large-6 columns">
        <input type="text" placeholder="Colonia">
      </div>
      <div class="large-4 columns">
        <input type="text" placeholder="Delegación">
      </div>
      <div class="large-2 columns">
        <input type="text" placeholder="CP">
        <br>
      </div>
      <div class="large-12 columns">
        <label>Tipo de lugar
          <select>
            <option value="car">Auto sedan</option>
            <option value="truck">Auto compacto</option>
            <option value="van">Camioneta</option>
          </select>
          <br>
        </label>

      </div>
    </div>

    <div class="hours">
      <div class="large-6 columns">
        <h4>Entrada</h4>
        <div class= "large-6 columns">
          <input type="date"/>
        </div>
        <div class= "large-6 columns">
          <input type="time"/>
        </div>
      </div>
      <div class="large-6 columns">
        <h4>Salida</h4>
        <div class= "large-6 columns">
          <input type="date"/>
        </div>
        <div class= "large-6 columns">
          <input type="time"/>
        </div>
      </div>


    </div>

    <div class="large-12 columns">
      <a href="#" class="button">Enviar</a>
    </div>
  </form>
</div>
</div>

<div class="map">
  <div class= "large-12 columns">
    <h2>Ponga en el mapa la ubicación</h2>
    <div class = "large-12 columns">
      <div id="googleMap"></div>
    </div>
  </div>
</div>

</div>
</body>
</html>
