body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px;
}
header{
  height: 80px;
  width: auto;
}
.parallax-background {
  background-image: url(../images/calle1.jpg); 
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.intro-text {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-top: 0;

}
.parallax-content {
  max-width: 100%;
  position: relative;
  top: 100%;
  padding: 75px;
  font-size: 20px;
  background-color: #000;
  opacity: 0.975;
}     
button{
  padding: 10px;
  font-size: 18px;
  background: rgba(255,255,255,0);
  border: solid 1px white;
  border-radius: 3px;
  margin-right: 1em;
  color:white;
}       
.fa{
  border-radius:100%;
  height: 2em;
  width: 2em;
  color:white;
  padding-top:40px;
}  

button{
  padding: 10px;
  font-size: 18px;
  background: rgba(255,255,255,0);
  border: solid 1px white;
  border-radius: 3px;
  margin-right: 1em;
  color:white;
}
p{
  color:white;
}
h2, h1{
  color: #F5F5F5;
}
  .container{
  overflow: visible;
}

  #tabla {
  background-color: #000;
  opacity: 0.9;
  border-radius: 5px;
  height: 5.5em;
  width: 15em;
  margin: 0em auto
  }


#signIn{
  position: absolute;
  top: 10;
  right: 10;
}
#signIn a{
  background: none;
  border: 2px solid white;
  border-radius: 3px;
}
#icon{
  background: #00BCD4;
  border-radius: 50%;
  width: 200px;
  position: relative;
  opacity: 1 !important;
}
.text{
  font-size:16px;
 
}
#giveAskPlace button{
  background: none;
  border:solid 1px white;
  border-radius: 5px;
}