html
  head
    title Simple login
    meta(charset='UTF-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&key=AIzaSyCQQ-TBEprNpwHYAlHGhZpWAiQ5hVZxjPI')

  body
    h1 Registra nueva  ubicacion
    form(action='/server', method='post'  enctype="multipart/form-data" name="place")
      h4 Calle
        input#calle(type='text', size='40', name='calle')
        br
      h4 Numero
        input#numero(type='text', size='40', name='numero')
        br
      h4 Colonia
        input#colonia(type='text', size='40', name='colonia')
        br
      h4 Delegacion
        input#delegacion(type='text', size='40', name='delegacion')
        br
      h4 Codigo postal
        input#cp(type='text', size='40', name='cp')
        br
      #map-canvas(style='width:60%; height:60%')
        br
      h4 Imagen del Lugar
        input#foto(type='file', name='ufoto')
        input#latitud( type='hidden', size='40', name='la')
        input#longuitud( type='hidden', size='40', name='lo')
        
      input#submit(type='submit', value='Submit')

      script(src='/javascripts/hola.js')
